<p><span style="font-size: 18px;"><strong>Release ${version}:</strong></span></p>
<ul>
{{#commits}}
    <li>
    {{messageTitle}}

        <ul>
        {{#messageBodyItems}}
            <li>
            {{.}}
            </li>
        {{/messageBodyItems}}
        </ul>
    </li>
{{/commits}}
</ul>